body {
    background      : url("../image/slideshow_bg_v4_5.jpg") no-repeat;
    background-size : cover;
}
img {
    display         :  none;
}
#fg {
    width           : 100%;
    height          : auto;
}
#canvas {
    position        : absolute;
}
#translate_value {
    color           : white;
    background      : black;
    font-family     : courier;
    font-size       : 64px;
    position        : absolute;
    bottom          : 20px;
    left            : 20px;
    z-index         : 1;{}
}
